<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Coding to do</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- <script>
			$("button").click(function(){
				console.log("Hello.")
			});
		</script> -->
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
